{% extends 'base.html' %}

{% block title %}post 상세 화면{% endblock %}
{% include 'posts/post_card.html' with detail=True %}
{% block content %}
<h1></h1>
    <!-- 이 html 파일 렌더링 하면서 넘겨받은 
        객체 id에 대해 detail 페이지 보여줌 -->
    <h5>제목: {{post.title}} </h4>
    <h5>작성일: {{post.create_at|date:"Y년 m월 d일"}} </h5>
    <hr>
    {% if post.image %}    
        <img src="{{ post.image.url }}" alt=""/>
    {% else %}
    <img src="http://via.placeholder.com/600x600" alt=""/>
    {% endif %}
    <p> {{ post.content }} </p>

    <!-- 수정 -->
    <a href="{% url 'post_update' post.id %}">수정</a> 
    <!-- 삭제 -->
    <a href="{% url 'post_delete' post.id %}">삭제</a> 
{% endblock %}