{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}홈{% endblock %}
<!-- post home을 구성하는 부분 -->
{% block content %}
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign Up</h3></div>
                                    <div class="card-body">
                                        <form class="user" method="POST"> 
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="username" type="text" placeholder="Enter ID" />
                                                <label for="inputEmail">ID</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="password" type="password" placeholder="Password" />
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="repeat" type="password" placeholder="Password" />
                                                <label for="inputPassword">Repeat password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <input class="btn btn-primary" type="submit" value="가입하기"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
    </body>
    {% endblock %}
